{% extends 'base.html' %}

{% block title %} 产品分类 - CRMS {% endblock title %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="#">首页</a></li>
		<li><a href="{% url 'products:category_list' %}">分类</a></li>
	</ol>
	<div class="page-header">
		<h2>产品分类列表</h2>
	</div>

	<div class="page-btn">
		<div class="col-md-10">

		</div>
		<div class="col-md-2">
			<a type="button" class="btn btn-success" href="{% url 'products:category_add' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> 新增记录</a>
		</div>
	</div> <!--/.表头内容-->
	<div class="page-tb">
		<table class="table table-hover table-bordered">
			<thead>
			<tr>
				<th>#</th>
				<th>产品分类</th>
				<th>父类</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{% for item in cate_obj %}
				<tr>
					<th scope="row">{{ item.id }}</th>
					<td>{{ item.category }}</td>
					{% if item.parent_category %}
						<td>{{ item.parent_category }}</td>
					{% else %}
						<td> </td>
					{% endif %}
					<td>
						<a href="{% url 'products:category_edit' item.id %}"><i class="fa fa-file-text" aria-hidden="true"></i></a>
						<a href="{% url 'products:category_del' item.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="4">无相关记录！</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div> <!--/.表格-->

{% endblock content %}